<h2>Atualizar Usuário</h2>

<form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
  <div>
    <div class="mat-mdc-form-field-flex">
      <mat-form-field>
        <input name="name" [(ngModel)]="user.name" matInput placeholder="Nome" required #name="ngModel">
        <mat-error *ngIf="name.invalid && name.touched">Nome é obrigatório</mat-error>
      </mat-form-field>

      Obs: e-mail precisa estar verificado no SES da AWS para receber o e-mail de boas vindas!
      <mat-form-field>
        <input name="email" [(ngModel)]="user.email" matInput placeholder="Email" required email #email="ngModel">
        <mat-error *ngIf="email.invalid && email.touched">
          <span *ngIf="email.errors?.['required']">Email é obrigatório</span>
          <span *ngIf="email.errors?.['email']">Email inválido</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Selecione um Departamento</mat-label>
        <mat-select [(ngModel)]="user.department.id" name="department" required #department="ngModel">
          <mat-option *ngFor="let department of departments" [value]="department.id">{{ department.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="department.invalid && department.touched">Departamento é obrigatório</mat-error>
      </mat-form-field>
    </div>
    <br>
    <div class="create-user-account-action-button-group">
      <button mat-button extended (click)="navigateToUserList()">
        Voltar
      </button>
      <button mat-button extended type="submit" [disabled]="userForm.invalid">
        Atualizar
      </button>
    </div>
  </div>
</form>

