<h2 mat-dialog-title>Delete User Account?</h2>
<mat-dialog-content>
  Esta operação não poderá ser desfeita.
</mat-dialog-content>
<mat-dialog-actions class="action-button-modal">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="deleteConfirmation(data)">Confirmar</button>
</mat-dialog-actions>
