<mat-list>
  @for (menuItem of menuListItem; track menuItem) {
    <mat-list-item mat-icon-button class="management-icon" (click)="navigationTo(menuItem.path)">
      <button mat-button extended >
        {{menuItem.name}}
      </button>
    </mat-list-item>
    <mat-divider></mat-divider>
  }
</mat-list>
