<h2>Detalhes do Usuário</h2>
<div class="modal-details-text">
  <p><strong>Nome:</strong> {{ user.name }}</p>
  <p><strong>Email:</strong> {{ user.email }}</p>
  <p><strong>Departamento:</strong> {{ user.department.name }}</p>
</div>
