<mat-toolbar>
  <button mat-icon-button class="management-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon aria-hidden="true" aria-label="Home" fontIcon="menu">menu</mat-icon>
  </button>
  <span>Management Application for Code Challenge</span>
</mat-toolbar>

<mat-drawer-container class="management-container" autosize>
  <mat-drawer #drawer class="management-sidenav" mode="side">
    <app-app-side-menu-list/>
  </mat-drawer>
  <main class="main">
    <router-outlet />
  </main>
</mat-drawer-container>


