<div class="pill-group">
  <h2>Usuários</h2>
  <div class="search-new" >
    <mat-form-field class="project__mat-mdc-form-field-flex">
      <input matInput placeholder="Pesquisar" [formControl]="nameSearchControl">
    </mat-form-field>
    <button mat-icon-button class="management-icon" (click)="navigateToCreateUserAccount()">
      <mat-icon aria-hidden="true" aria-label="add" fontIcon="add">add</mat-icon>
    </button>
  </div>
</div>

<div class="management-container mat-elevation-z8">
  @if (isLoadingResults || isRateLimitReached) {
    <div class="management-loading-shade">
      @if (isLoadingResults) {
        <mat-spinner></mat-spinner>
      }
      @if (isRateLimitReached) {
        <div class="management-rate-limit-reached">
          Timed out.
        </div>
      }
    </div>
  }

  <div class="management-table-container">
    <table mat-table [dataSource]="data" class="management-table"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Nome</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
        <td mat-cell *matCellDef="let row">{{row.email}}</td>
      </ng-container>

      <ng-container matColumnDef="department.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
          Departamento
        </th>
        <td mat-cell *matCellDef="let row">{{row.department.name}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Ações</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openUserAccountDetailsModal(row)">
            <mat-icon>more_vert</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="navigateToUpdateUserAccount(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteUserAccountModal(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="15"></mat-paginator>
</div>
