.management-container {
  position: relative;
}

.management-table-container {
  position: relative;
  min-height: 15rem;
  max-height: 30rem;
  overflow: auto;
}

table {
  width: 100%;
}

.management-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.management-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.project__mat-mdc-form-field-flex {
  width: 24rem !important;
  align-items: stretch !important;
}
